body{
    background-color:#c8ae86 ;
}
.friends{
    position: relative;
}
.a-friends{
    padding: 22.5px 70.5px;
    position: absolute;
    left: -8px;
    top: -8px;

    background-color: #DADADA;
    text-decoration: none; 
    color: black;
    font-family: 'Imperial Script', cursive;
    font-size: 32px;
}
.main-nav{
    background-color: red;
}
